<!-- begin form -->
<div class="form">
	<div class="form__inner">
		<h3 class="form__title title-sm">оставь заявку и получи бесплатно 1 час!</h3>
		<div class="form__wrap">
			<form action="/">
				<div class="row">
					<div class="col-33">
						<div class="field"><input type="text" placeholder="имя"></div>
					</div>
					<div class="col-33">
						<div class="field"><input type="text" placeholder="Email"></div>
					</div>
					<div class="col-33">
						<div class="field"><button class="btn" type="submit">отправить заявку</button></div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- end form -->