<!-- begin topic -->
<div class="topic" style="background-image: url(./img/topic-bg.jpg);">
	<div class="topic__inner">
		<div class="topic__head">
			<div class="topic__description">мы охраняем V.i.p. персон</div>
			<div class="topic__name">Armada</div>
		</div>
		<h1 class="topic__title title-lg">охрана вашей персоны за 2000 ₽ в час</h1>
		<div class="topic__footer">
			<a href="#" class="topic__link">
				<span>Узнай о нас за 3 минуты</span>
			</a>
		</div>
	</div>
</div>
<!-- end topic -->